
body{
   background-image: url("../project1/image/background1.avif");
}

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
    
}

    .cnct{
       align-items: center;
       display: flexbox;
       left: 50% ;
       top: 50%;
       background-color:#FFD0D0 ;
       opacity: 0.8;
       
    }


ul{
    display: flexbox;
    
}
img{
    margin: 5px;
    padding: 5px;
    object-fit:cover;
    height: 250px;

}

    .header{
        background-color:#333 ; 
        color: #fff;
        display: flex;
        justify-content: space-between;
       align-items: center;
       padding: 20px;
     }

.btn{
  
  height: 300px;
  margin : 80px;
  padding: 5px;
  left: 50%s;
}

.btn2{
  margin-left: 400px;
}

@media screen and (width <= 600px ) {
    header {
     background-color:#FF7D29 ;
    }
   .btn{
     background-color: #ffffff;
     margin: 10px;
     
   }
    body {
     background-image: url("./project1/image/backG.jpeg");
    }
    .hyper .type{
     font-weight:400 ;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .title{
     color: #000;
     font-style: italic;
     font-family:cursive;
    }
    .Lists{
     list-style-type:disc; 
     margin: 10px; 
     padding: 16px; 
     display: flex; 
     font-size:small;
   } 
 
   .Lists { 
     margin-right: 10px; 
   } 
    
   .lst{
     margin : 5px;
     padding: 5px;
   }
   }